<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact US</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ContactUS.css') }}">
</head>
<body>
   <nav class="navbar">

    <a href="HOME.html" class="logo">
        Health<span>Care</span>
    </a>

    <div class="nav-links">
        <a href="HOME.html">Home</a>

        <a href="Diseases A-F.html">Diseases A–F</a>
        <a href="Diseases G - L.html">Diseases G–L</a>
        <a href="Diseases M - R.html">Diseases M–R</a>
        <a href="Diseases S - Z.html">Diseases S–Z</a>
        <a href="symptomsChecker.html">AI Symptoms Checker</a>
        <a href="hantaVirus.html">Hanta Virus</a>
        <a href="diabetesD.html">Diabetes</a>
        <a href="CancerD.html">Cancer</a>
        <a href="asthmaD.html">Asthma</a>   
        <a href="HealthTip1.html">Health Tips</a>
        <a href="#">Prevention & Care</a>
        <a href="commonFAQ.html">FAQs</a>
        <a href="#">Book Appointment</a>
        <a href="ContactUS.html">About & Contact</a>

    </div>

</nav>
        <br><br>
        <section>
            <h1><b>How Can We Help?</b></h1>
            <p> Get in touch with our sales and support teams.</p>
        </section>
        
</body>
</html>